.home-link {
  position: fixed;
  top: 2.5rem;              
  left: 1.5rem;            
  font-weight: 600;
  text-decoration: none;
  color: #0969da;
}

.home-link:hover {
  text-decoration: underline;
}